Package: com.cydiadump.goodnight101
Section: Tweaks
Maintainer: Anthony Agatiello
Architecture: iphoneos-arm
Version: 1.0.1-61
Description: GoodNight allows you to adjust the screen temperature, brightness, and color!
Name: GoodNight 1.0.1-61
Author: Anthony Agatiello
