Package: com.cydiadump.goodnight10
Section: Tweaks
Maintainer: Anthony Agatiello
Architecture: iphoneos-arm
Version: 1.0-51
Description: GoodNight allows you to adjust the screen temperature, brightness, and color!
Name: GoodNight 1.0-51
Author: Anthony Agatiello
