Architecture: iphoneos-arm
Author: Fred Vasilenko <fred.vasilenko@yandex.ru>
Description: Watch tons of movies and tv shows free on your device.
Depiction: http://www.googledrive.com/host/0B-mQc-bc-K8SVFFhTk1KaDV3MlU
Name: Movie Box
Maintainer: CydiaDump
Package: com.cydiadump.moviebox
Version: 3.3.7
