Package: com.cydiadump.gba4ios
Section: Tweaks
Maintainer: Riley Testut
Architecture: iphoneos-arm
Version: 2.1
Description: Gameboy Advance Emulator. Supported on iOS 7, 8, and 9.
Name: GBA4iOS
Author: Riley Testut
